/* Estilos para el contenedor de vista previa de proyectos */
.project-preview {
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-bottom: 20px;
  padding: 20px;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.3s ease, background-color 0.3s ease;
  border-radius: 8px;
  background-color: #ffffff;
  width: 300px; /* Ancho fijo */
  height: 300px; /* Alto fijo para hacer el contenedor cuadrado */
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between; /* Espacio entre los elementos */
}

/* Estilo del contenedor de la información del proyecto */
.project-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* Estilo del encabezado del proyecto */
.project-info-container h3 {
  color: #333;
  font-size: 20px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/* Estilo del contenedor de detalles del proyecto */
.project-details-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  color: #666;
  font-family: 'Roboto', sans-serif;
  justify-content: space-between;
}

/* Estilo para cada párrafo en los detalles */
.project-details-container p {
  margin: 0;
  font-size: 14px;
}

/* Estilo para el enlace de ver detalles */
.project-view-link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  margin-top: 10px;
  transition: color 0.3s ease;
}

.project-view-link:hover {
  color: #0056b3;
}

/* Estilo para la sección cuando no hay información del proyecto */
.noInfo {
  color: #ff0000;
  background-color: #000;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
