.forgot-password-container{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.forgot-password-form{
    display: grid;
    flex-direction: column;
    padding: 1rem; 
}

label{
    color: black;
}

input{
    margin-bottom: 0.5rem; /* Reduce el margen inferior */
    background-color: #fff;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    color: #333;
    border-radius: 4px
}

.back-to-login{
    margin-top: 1rem;
    text-align: center;
    color: #333;
}

.back-to-login a {
    color: blue;
  text-decoration: underline;
  cursor: pointer;
}