body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
  .dashboard-container {
    display: flex;
    height: 100vh;
  }
  
  .dashboard-nav {
    background-color: #fff;
    padding: 20px;
    width: 200px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  }
  
  .dashboard-nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  .dashboard-nav li {
    margin: 20px 0;
  }
  
  .dashboard-nav a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    transition: color 0.3s;
  }
  
  .dashboard-nav a:hover {
    color: #007bff;
  }
  .icono-img {
    vertical-align: middle;
    margin-right: 10px;
    width: 50px; 
    height: 50px; 
  }
  .dashboard-content {
    flex: 1;
    padding: 40px;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
  }
  
  h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
  }
  

  
.create-project-btn {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.create-project-btn:hover {
  background-color: #555;
}

.dashboard-image {
  margin-top: 20px;
  max-width: 100%;
  height: auto;
}