/* Estilos para el contenedor del registro */
.register-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

/* Estilos para el encabezado del registro */
.register-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.register-icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

/* Título del proyecto */
.register-title {
  font-size: 34px;
  font-weight: bold;
}

.register-title h1 {
  margin: 0;
  font-size: 24px;
}

/* Estilos para el formulario de registro */
.register-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Contenedor para campos nombre y apellido */
.register-name-fields {
  display: flex;
  gap: 10px;
}

.register-name-fields input {
  flex: 1;
}

.register-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #ffffff;
  width: 100%;
  box-sizing: border-box;
}

/* Estilos para el botón de registro */
.register-form button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color:  #6c63ff;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-form button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.register-form button:hover:enabled {
  background-color: #574b90;
}

/* Estilos para mensajes de error */
.register-error {
  color: red;
  margin-bottom: 10px;
}

/* Estilos para el pie del formulario */
.register-footer {
  margin-top: 20px;
}

.register-footer a {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.register-footer a:hover {
  color: #0056b3;
}

/* Estilos globales para párrafos */
p {
  color: black;
}
