/* register.css */

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-x: hidden;
  max-width: 65%;
  margin: 0 auto;
  padding: 2rem;
  flex-direction: row; /* Cambiado a row para disposición horizontal */
  flex-wrap: wrap; /* Permite el ajuste de elementos */
  height: auto; /* Ajustado para permitir flexibilidad en la altura */
}

.icono-img {
  vertical-align: middle;
  margin-right: 10px;
  width: 50px; 
  height: 50px; 
}

.company-name {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.company-name h1 {
  font-size: 2rem;
  color: #333;
  margin: 0; /* Elimina el margen superior e inferior */
}

.form-section {
  flex: 1;
  padding: 1rem;
  background-color: #fff;
  text-align: center;
}


h2 {
  font-size: 1.5rem;
  color: #333;
}

/* Ajustes en .register-form para mejorar la disposición horizontal */
.register-form {
  display: flex;
  flex-direction: row; /* Asegura disposición horizontal */
  flex-wrap: wrap; /* Permite que los elementos se ajusten según el ancho disponible */
  justify-content: center; /* Centra los elementos horizontalmente */
  width: 100%; /* Asegura que el formulario use todo el ancho disponible */
}

.register-form label {
  margin-bottom: 0.5rem;
  color: #000000;
}

.register-form input {
  width:auto; /* Ajusta el ancho para que dos inputs quepan en una fila, considerando el padding */
  padding: 0.5rem;
  margin: 2rem; /* Asegura un pequeño espacio entre los inputs */
  border: 1px solid #ccc;
  color: #333;
  border-radius: 4px;
  background-color: #fff; 
}

.enabledButton {
  border: none;
  color: white;
  background-color: #6c63ff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.enabledButton:hover {
  background-color: #908bfd;
}

.disabledButton {
  border: none;
  color: white;
  background-color:rgb(90, 90, 90);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

p {
  color: #333;
}

.login-link {
  text-align: center;
  margin-top: 1rem;
}

.login-link a {
  text-decoration: underline;
  cursor: pointer;
}

.error-message {
  color: red;
  margin-top: 0.5rem;
}
